.NavBar-welcome {
  color: #c84630;
  background: white;
  }

.NavBar {
  color: #c84630;
  background: white;
  }

.NavBar-link {
  color: #c84630;
    background: white;
  }

h1 {
    color: #dff8eb;
  }
