link {
  font-size: 50px;
}

.button-ES {
  margin: 10px;
  font-size: 23px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-decoration: underline;
  color: rgba(84, 32, 137);
}

form {
  text-align: center;
}
